protobuf_x64-windows-static/
*.a
*.exe
*.dll
*.lib
x64/
third_party/gtest/
third_party/protobuf_x64-windows-static/
*.vs
*.user
*.pdb
#*.txt
test_rapidxml/protobuf/
x64/
build/
swigwin-4.2.1
Release-Patch/
